mixin field-hidden(name, label)
  input(type='hidden', id=name, name=name)

mixin field-label(name, label)
  - var label = label || name
  .control-group
    label(for=name).control-label #{label}
    .controls
      block

mixin field-checkbox(name, label)
  .control-group
    .controls
      label.checkbox
        input(type='checkbox', id=name, name=name)
        div #{label}

mixin field-input(type, name, label, placeholder)
  +field-label(name, label)
    input(type=type, id=name, name=name, placeholder=placeholder)
    block

mixin field-password(name, label, placeholder)
  +field-input('password', name, label, placeholder)
    block

mixin field-text(name, label, placeholder)
  +field-input('text', name, label, placeholder)
    block

mixin field-textarea(name, label, placeholder)
  +field-label(name, label)
    textarea(type='text', id=name, name=name, rows=5, placeholder=placeholder)
    block

mixin field-select(name, label)
  +field-label(name, label)
    select(id=name, name=name)
    block

mixin button-bar
  hr
  .button-bar.mode-edit
    .mode.edit
      button(type='button').btn.cancel
        span Back
        i.fa.fa-arrow-left
      button(type='button').btn.btn-danger.update.delete-ask
        span Delete...
        i.fa.fa-trash-o
      button(type='submit').btn.btn-primary.create
        span Create
        i.fa.fa-check
      button(type='submit').btn.btn-primary.update 
        span Update
        i.fa.fa-check
    .mode.delete-ask
      button(type='button').btn.delete-no
        span No, keep it
        i.fa.fa-arrow-left
      strong Really delete this item ?
      button(type='button').btn.btn-danger.delete-yes
        span Yes, get rid of it!
        i.fa.fa-trash-o
